<!DOCTYPE html>
<html>
  <head>
    <title>Tenorion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="full-height d-flex align-items-stretch flex-column">
    <div class="container d-flex flex-column align-items-stretch full-height">
      <%= yield %>
      <div class="footer d-flex align-items-center justify-content-center">
        <div>© 2023 Duncan Fermor</div>
      </div>
    </div>
  </body>
</html>
