<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MusicGrid</title>
    <meta name="viewport" content="width=960, user-scalable=yes" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "/assets/assets/stylesheets/application.css", media: "all" %>
    <%= javascript_include_tag "/assets/javascript/entrypoints/application.js" %>
  </head>
  <body class="full-height d-flex align-items-stretch flex-column">
    <div class="w-100 d-flex flex-column align-items-center">
      <%= yield %>
      <div class="footer footer-elements d-flex align-items-spread justify-content-between">
        <a class="footer-elements border btn rounded-top btn-outline-secondary" href="https://github.com/Peregrine42">© 2023 Duncan Fermor</a>
        <% if not signed_in? %>
          <a class="footer-elements border btn rounded-top btn-outline-secondary text-align-right" href="/sign-in">Sign in</a>
        <% else %>
          <%= simple_form_for :session, :url => sign_out_path do %>
            <button class="footer-elements border btn rounded-top btn-outline-secondary text-align-right">Sign out</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
